<header class="header">
  <div class="admin__header__logo">Admin</div>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Go to Home</a>
      </li>
    </ul>
  </nav>

  <div class="logout__button">
    <a href="/logout"> Logout </a>
  </div>
</header>
